<h1>Add Interview</h1>

<form action="/interview/create-interview" method="POST">
  <p><input type="text" name="companyName" placeholder="Company Name" /></p>
  <p><input type="date" name="interviewDate" placeholder="Interview date" /></p>
  <p><input type="submit" value="Add Interview" /></p>
</form>
